body{
	font-size:16pt;
	font-family:"Trebuchet MS", Arial, sans-serif;
}
h1,h2{
	margin:5px 0;
}
h3{
	margin:10px 0;
}
ul#nav{
	list-style-type:none;
	margin:0;
	padding:.2em 0 0 0;
	background:#EEE;
	height:1.4em;
}
ul#nav li{
	float:left;
	display:block;
	margin:0 5px;
}
ul#nav li a, ul#nav li a:visited{
	color:blue;
}

#wrap{
	width:900px;
	margin:10px auto;
}

#content{
	clear:both;
}
/*code*/
.highlight{
	font-size:.9em;
	padding:.5em;
}
pre{
	margin:.1em
}
p code{
	background:#f8f8f8;
	padding-left:4px;
	padding-right:4px;
}

img{
	width:98%;
	border:outset 3px #CCC;
	
}

h2+p, h3+p{
	margin-top:0;
}

li>p{
	margin:0;
}

.post{
	
}

#metainfo{
	padding:.2em 0 0 .2em ;
	background:#EEE;
}
