aside.announce.row
  h2.three.columns News
  ul.nine.columns
    li #[a(href="https://strongloop.com/strongblog/lets-code-it-static-site-generator/") Blog Post on Writing a Static Site Generator] on StrongBlog (Jan 5)

  span.clearfix
