aside.announce.row
  h2.three.columns News
  ul.nine.columns
    li #[a(href="https://strongloop.com/strongblog/the-node-js-debug-module-advanced-usage/") New blog post] on StrongBlog (Oct 12)

  span.clearfix
