aside.announce.row
  h2.three.columns News
  ul.nine.columns
    li #[a(href="http://midwestjs.com/speakers") Node.js workshop at MidwestJS] on August 10.
    li Thanks for coming to intro crypto at #[a(href="http://hope.net/") HOPE]!! #[a(href="http://bit.ly/crypto-intro-slides") slides] | #[a(href="http://bit.ly/crypto-intro") handout]
  span.clearfix
