aside.announce.row
  h2.three.columns News
  ul.nine.columns
    li #[a(href="https://strongloop.com/strongblog/interactive-debugging-with-node-js/") Blog Post on Debugging Node.js] on StrongBlog (Nov 9)

  span.clearfix
