aside.announce.row
  h2.three.columns News
  ul.nine.columns
    li #[a(href="http://hope.net/workshops.html#-getting-started-with-encrypted-communications-") Encrypted Communication Workshop] at #[a(href="http://hope.net/") HOPE] on July 22.
    li #[a(href="http://midwestjs.com/speakers") Node.js workshop at MidwestJS] on August 10.
    li #[a(href="https://strongloop.com/strongblog/type-hinting-in-javascript/") New blog post] on StrongBlog.
  span.clearfix
