aside.announce.row
  h2.three.columns News
  ul.nine.columns
    li #[a(href="http://www.oreilly.com/live-training/getting-started-with-node-js.html") Getting Started with Node.js]: Boston, October 20 & 21
    li #[a(href="https://strongloop.com/strongblog/lets-code-it-the-debug-module/") New blog post] on StrongBlog (September 15)

  span.clearfix
