aside.announce.row
  h2.six.columns Upcoming Events
  div.six.columns
    | #[a(href="http://www.oreilly.com/live-training/getting-started-with-node-js.html") Getting Started with Node.js]
    ul
      li Where: Boston, MA, USA
      li When: October 20 & 21

  span.clearfix
