aside.announce.row
  h2.three.columns News
  ul.nine.columns
    li #[a(href="https://strongloop.com/strongblog/lets-code-it-static-site-generator-with-rx-js/") Blog Post on Writing an SSG with RX.js] on StrongBlog (Jan 19)

  span.clearfix
