aside.announce.row
  h2.three.columns News
  ul.nine.columns
    li #[a(href="http://www.oreilly.com/live-training/getting-started-with-node-js.html") Getting Started with Node.js]: Boston, October 20 & 21<br>
      | <strong>Use code ORMSM20 for 20% off!</strong>
    li #[a(href="https://strongloop.com/strongblog/the-node-js-debug-module-advanced-usage/") New blog post] on StrongBlog (Oct 12)
    li #[a(href="https://strongloop.com/strongblog/lets-code-it-the-debug-module/") New blog post] on StrongBlog (Sept 15)

  span.clearfix
