head
  title #{title} &#128123; Sequoia's Website

  //stuff
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  if description
    meta(name='description', content=description)

  //css
  link(href='/css/highlight.css', rel='stylesheet', type='text/css', media='all')
  link(href='/css/normalize.css', rel='stylesheet', type='text/css', media='all')
  link(href='/css/skeleton.css', rel='stylesheet', type='text/css', media='all')
  link(href='/css/style.css', rel='stylesheet', type='text/css', media='all')

  //js
  script(src='/bower_components/fetch/fetch.js')
  script(src='/js/announce-header.js')

  //does this do anything? who knows
  link(href='https://twitter.com/_sequoia', rel='me')
  link(href='https://github.com/Sequoia', rel='me')
