head
  title= title

  //stuff
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  if description
    meta(name='description', content=description)

  //css
  link(href='/css/pygments/default.css', rel='stylesheet', type='text/css', media='all')
  link(href='/css/style.css', rel='stylesheet', type='text/css', media='all')

  //does this do anything? who knows
  link(href='https://twitter.com/_sequoia', rel='me')
  link(href='https://github.com/Sequoia', rel='me')
