-
  menu = [
    { name : 'Home', url : '/' },
    { name : 'Projects', url : '/projects/' },
    { name : 'Contact', url : '/contact/' },
    { name : 'Talks', url : '/talks-and-trainings/' },
    { name : 'Shorts', url : '/shorts/' },
    { name : 'RSS', url : 'https://sequoia.makes.software/rss.xml'}
  ]
  unused = [
    { name : 'Github', url : 'https://github.com/Sequoia/' }
  ]