extends ./layout.jade
block content
  //- h1= title
  | !{body}

  h2 Blog Posts
  section.blog-posts
    for post in posts
      h3
        time= post.date
        a.title(href='/' + post.slug + '/')= post.title
      p= post.description
