extends ./layout.jade
block content
  h1= title
  | !{body}

  h2 Blog Posts
  section.blog-posts
    for post in posts
      h3: a.title(href='/' + post.slug)= post.title
      time= post.date
      p= post.description
