- var thisYear = (new Date()).getFullYear();
doctype html
html(lang='en')
  include ./includes/head.jade
  body
    #wrap

      header(role='banner')
        h1 Sequoia McDowell
        h2 Programmer, Educator
        include ./includes/navigation.jade

      aside.announce.row
        h2.three.columns News!!
        section.nine.columns
          p.
            I'm giving a two-day Node.js intro training at FluentConf in San Francisco, March 7-8! #[br] #[a(href="http://conferences.oreilly.com/fluent/javascript-html-us/public/schedule/detail/47786") Sign up today]!!
        span.clearfix

      section#content
        block content

      footer &copy; Sequoia McDowell #{thisYear}
