- var thisYear = (new Date()).getFullYear();
doctype html
html(lang='en')
  include ./includes/head.jade
  body
    #wrap

      header(role='banner')
        h1 Sequoia McDowell
        h2 Computer Systems Analyst
        include ./includes/navigation.jade

      block announce
        //- add an empty announce block to extenders to disable this
        include ./includes/announcement.jade

      section#content
        block content

      footer &copy; Sequoia McDowell #{thisYear}
