- var thisYear = (new Date()).getFullYear();
doctype html
html(lang='en')
  include ./includes/head.jade
  body
    #wrap

      header(role='banner')
        h1 Sequoia McDowell
        h2 Programmer, Educator
        include ./includes/navigation.jade

      aside.announce.row
        section.nine.columns
          p.
            Thanks to everyone to came to #[a(href="http://conferences.oreilly.com/fluent/javascript-html-us/public/schedule/detail/47786") the training at FluentConf]! Feel free to write me if you have any questions about the content!
        ul.three.columns
          li: a(href='http://charmoffensive.tech/node-2day') Slides
          li: a(href='https://github.com/sequoia/code-along') Code
        span.clearfix

      section#content
        block content

      footer &copy; Sequoia McDowell #{thisYear}
