extends ./layout.jade
block content
  h1= title
  //-span.time Published&nbsp;
    //-time= date
  | !{body}

  footer
    span.byline Published #{date}
    if originalUrl
      span.linkback Originally published at 
        a(href=originalUrl)= originalBlog
