extends ./layout.jade
block content
  h1= title
  if originalUrl
    h2.linkback Originally published at 
      a(href=originalUrl)= originalBlog
  //-span.time Published&nbsp;
    //-time= date
  | !{body}

  footer.byline
    | Published&nbsp;
    span= date
