extends ./layout.jade

block announce
  //- disabled
  
block content
  h1 Projects

  for project in projects
    h2(id=project.anchor)= project.name
      a.header-anchor(href='#'+project.anchor)

    p!= project.description
    ul
      for link in project.links
        li: a(href=link[1])= link[0]
